.reset-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333333;
}

.reset-password-page form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.reset-password-page label {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #9C89B8;
}

.reset-password-page .form-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 10px;
}

.reset-password-page button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #9C89B8;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

.reset-password-page button:hover {
    background-color: #D3C0D2;
}

.reset-password-page .error {
    color: #ff0000;
    margin-bottom: 15px;
}
